<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,246}</string>
                <key>spriteSourceSize</key>
                <string>{165,246}</string>
                <key>textureRect</key>
                <string>{{0,0},{165,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,255}</string>
                <key>spriteSourceSize</key>
                <string>{165,255}</string>
                <key>textureRect</key>
                <string>{{0,246},{165,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,255}</string>
                <key>spriteSourceSize</key>
                <string>{165,255}</string>
                <key>textureRect</key>
                <string>{{0,501},{165,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{0,756},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,255}</string>
                <key>spriteSourceSize</key>
                <string>{165,255}</string>
                <key>textureRect</key>
                <string>{{0,1012},{165,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_down5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,256}</string>
                <key>spriteSourceSize</key>
                <string>{166,256}</string>
                <key>textureRect</key>
                <string>{{0,1267},{166,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_down6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,203}</string>
                <key>spriteSourceSize</key>
                <string>{144,203}</string>
                <key>textureRect</key>
                <string>{{0,1523},{144,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{0,1726},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-z.png</string>
            <key>size</key>
            <string>{166,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d49eb316a4dacf0c83f92e7a567ec0b:4d3b278fe8c263a816e1e7347c53cdfc:1bf7ef399176a9e9ef093131a96fae0b$</string>
            <key>textureFileName</key>
            <string>enemy-z.png</string>
        </dict>
    </dict>
</plist>
