<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{69,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{69,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{138,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,95}</string>
                <key>spriteSourceSize</key>
                <string>{69,95}</string>
                <key>textureRect</key>
                <string>{{0,93},{69,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{69,93},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,95}</string>
                <key>spriteSourceSize</key>
                <string>{69,95}</string>
                <key>textureRect</key>
                <string>{{138,93},{69,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>e-y-b-u.png</string>
            <key>size</key>
            <string>{207,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a57c9ace7590e1ff2023c58da87fc6:84feb0936fd104dd30465d204448535d:e1cf2297b966195c9272b9c2fca3e1af$</string>
            <key>textureFileName</key>
            <string>e-y-b-u.png</string>
        </dict>
    </dict>
</plist>
